.oneProjectSection, .mentionslegales {
    z-index: -2;

    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 90vh;

    gap: 32px;
    padding-top: 11vh;
    overflow-y: hidden;
}


.oneProjectSection .columns,.mentionslegales .columns {

    z-index: -1;

    width: 100%;
    height: 105%;

    position: absolute;
    top: 0%;
    left: 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.oneProjectSection .columns .column,.mentionslegales .columns .column {
    height: 100%;
    width: 15%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    padding-block: 3% 5.5%;
    box-sizing: border-box;

    font-size: 14px;
    text-transform: uppercase;
}

.oneProjectSection .columns .column .link ,.mentionslegales .columns .column .link {
    display: flex;
    flex-direction: column;
    align-items: start;

    cursor: pointer;
    height: 37px;
    z-index: 5;

    -webkit-animation: linkOpacity var(--link-text-appear) linear;
    -o-animation: linkOpacity var(--link-text-appear) linear;
    animation: linkOpacity var(--link-text-appear) linear;


}

.oneProjectSection .columns .column .animatedSpan ,
.mentionslegales .columns .column .animatedSpan {
    clip-path: border-box;
    display: flex;
    flex-direction: column;
    height: 16px;
    cursor: pointer;
}

.oneProjectSection .columns .column .animatedSpan> div ,
.mentionslegales .columns .column .animatedSpan>div{
    transform: translateY(-13px);
    transition: transform var(--speed-of-animation-span) linear;will-change: transfor
}



.oneProjectSection .columns .column .animatedSpan span ,.mentionslegales .columns .column .animatedSpan span {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    line-height: 16px;

}

.oneProjectSection .columns .column .logo ,
.mentionslegales .columns .column .logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;

    z-index: 5;

}
  .elipse {

    background: #5623fc69;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    filter: blur(290px);
    position: absolute;
    top: 50%;
    right: -9%;
      z-index: -2;
}

.oneProjectSection > h2 {
    margin: 0;
    text-align: center;
}

.oneProjectSection > p {
    margin: 0;
    width: 38%;
    text-align: center;
    font-size: 20px;
}

.oneProjectSection > .blackButton {
    margin-bottom: 10px;
}

.oneProjectSection > .imageContainer {

    display: flex;
    width: 100%;
    justify-content: space-between;
}

.oneProjectSection > .imageContainer > img {
    width: 30%;
    object-fit: contain;
}

.oneProjectSection > .imageContainer > img:not(:nth-child(2)) {
    margin-top: -100px;
}

@media only screen and (max-width: 1000px) {
    .oneProjectSection > p {
        width: 69%;

    }
.oneProjectSection{
    padding-top: 20vh;}
    .oneProjectSection > .imageContainer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .oneProjectSection > .imageContainer > img:not(:nth-child(2)) {
        margin-top: 0px;
    }

    .oneProjectSection > .imageContainer > img {
        width: 59%;
    }
}

@media only screen and (max-width: 570px) {

    .oneProjectSection > p {
        width: 100%;

    }

    .oneProjectSection > .imageContainer > img {
        width: 100%;
    }

    .oneProjectSection .columns .column .logo {
        display: none;
    }

    .oneProjectSection .columns .column .link {
        display: none;
    }

}
