.section4 {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21%;

}

.section4 h2 {
    margin-bottom: 52px;
}


.section4 .imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    cursor: pointer;
    width: 100%;
}

.section4 .imgContainer  a  {
    border-radius: 10px;
    width: 21%;
    position: relative;
    transition: transform 0.5s linear;
}


.section4 .imgContainer  a:hover{
    transform: scale(1.03) ;
}

.section4 .imgContainer  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.section4 .imgContainer  .elispe{
     border-radius: 387px;
     background: rgb(86 35 252 / 28%);
     filter: blur(80px);

     flex-shrink: 0;
     position: absolute;
     z-index: -1;

     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 85%;
     height: 86%;
}
@media only screen and (max-width: 1500px) {

    .section4 .imgContainer  a  {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .section4 .imgContainer  a  {
        width: 39%;
    }
    .section4 .imgContainer {
        gap: 34px;
    }
}


@media only screen and (max-width: 560px) {

    .section4 .imgContainer  a  {
        width: 75%;
    }
}
